/* Navigation styles */
.navigation{
    display: flex;
    justify-content: space-between;
    
   
}
.logo{
    margin-left:150px ;
    color: #4E47FF;
    font-size: 34px;
}
.bnt-sign{margin-top: 37px;
    margin-right: 150px;
    font-size: 16px;
    width: 132px;
    height: 48px;
    color:#FFFFFF ;
    background-color: #4E47FF;
border-radius: 10px;
border: none;}
/* Header-content */
.header-title{font-size: 65px;
    text-align: 
    margin-top: 0px;
}
.bnt-focused{
    font-size: 16px;
    width: 174px;
    height: 48px;
    margin:;
    margin-bottom: 150px;
    
   
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    border:none;
}
.title{
    text-align: center;
}
header{
    background-image:url(Assets/Hero-bg.png) ;
    max-width: px;
    height: ;}
    /* Main section */
    .main-see{
        display: flex;
        justify-content: space-between;
        margin: 120px 150px;
      
    }
    .main-head{
        font-size: 42px;
    }
    .main-para{
        font-size: 24px;
    }
    .bnt-main{
        width: 230px;
        height: 48px;
        background-color: #4E47FF;
        color: #FFFFFF;
        border-radius: 10px;
        border: none;
    }
    .webflow{
        width: 400px;
        height: 330px;
        border-radius: 50px;
    }
    /* Number styles */
    .num-join{
        background-color:#c7c5f8 ; 
        border-radius: 24px;
        margin: 150px;
        padding: 50px 150px;
    }
    .num-title{
        text-align: center;
        font-size: 38px;
    }
    .num-container{
        display: flex;
        justify-content:space-evenly
    }
    .num-content{
        
    }
    .num{
        font-size: 80px;
        color: #4E47FF;
    }
    .sub-num{
        font-size: 20px;
    }
    /* Review styles */
.revi-title{
    text-align: center;
    font-size: 42px;

}
.revi-one{box-shadow:0px 0px 15px 2px black  ;
    padding:10px ;
   
}
.revi-container{
display: flex;
justify-content: space-evenly;
}

    .comment{
        display: flex;
        gap: 10px;
    }
   /* Form styles */
   .last-title{
    font-size: 57px;
   }
   .let-container{display: flex;
    justify-content: space-evenly
   }
   .form{
    margin-top: 100px;
    }
    .bnt-form{
        width: 172px;
        height: 30px;
        background-color: #4E47FF;
        color: #FFFFFF;
        border-radius: 8px;
        border: none;
    }
   
   /* footer styles */
   .footer-head{
    
    font-size: 100px;
    color:#4E47FF;
   }
   .final-last a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
   }
   footer{
    text-align: center;
   }

   /* shared bnt styles */
   button{
    transition: all 0.3 ease;
   }
   button:hover{
    transform: scale(1.1);
    background-color: aqua;
    color: blueviolet;
   }